#result {
	font-size: 30px;
	text-center;
}
body {
	background-color: gray;
	font-family: 'Inconsolata', monospace;
}

#header {
	padding: 5px;
	text-align: center;
}

.block {
	border: solid 2px;
}

label {
	font-weight: bold;
	font-size: 30px;
}

#padanga, #ratlankis, #arka {
	font-style: italic;
}